@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    --tipographyPrimary: 'Inter', sans-serif;
    --tipographySecondary: 'Lexend Deca', sans-serif;
    /* Primary */
    --veryDarkBlue: hsl(233, 47%, 7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
/* Generales */
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    font-family: var(--tipographyPrimary);
    background-color: var(--veryDarkBlue);
    font-size: 1.5rem;
    line-height: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    background-color: var(--darkDesaturatedBlue);
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
    
}